
.about-section{
    display: flex;
    justify-content: center;
   
    
    .first-section {
        padding: 2rem; 
    }

    .second-section{
        padding: 1rem;
        max-width: 600px;
        text-align: justify;
        border: 2px solid #eee;
        border-radius: 20px;

        a{
            color:inherit;
            text-decoration: underline #f46740
        }
       
    }
    .my-profile-picture{
        min-width: 300px;
        max-width: 350px;
    }
}

@media (max-width: 828px) {
    .about-section{
        flex-direction: column;
    }

  }
  @media (max-width: 450px) {

    .about-section{
        .my-profile-picture {
            min-width: 150px;
            max-width: 200px;
        }

    }
    

  }