$button-color :   rgba(244,103,64,0.8);
$light-black:  #333231;
$light-background: rgba(242, 102, 63, 0.5);

.form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    padding: 2rem;

    label {
font-size: 1.3rem;
    }

    input , 
    textarea{
        border: solid $light-background;
        border-radius: 10px;
        margin: 0.5rem;
    }

    textarea:focus, input:focus, button:focus{
        outline: none;
    }

    textarea {
        min-height: 200px;
    }

    button{
        
        max-width: 100px;
        background-color: $light-black;
        margin-top: 0.5em;
        border: none;
        padding: 0.5em 0.5em;
        font-size: 1.2rem;
        border: 2px solid #ffffff;
        border-radius: 0.5em;
        color: white;
        transform-style: preserve-3d;
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }


    button:hover {
        background: $button-color;
        transform: translate(0, 0.375em);
        cursor: pointer;
      }
      
      
      button:active {
      transform: translate(0em, 0.75em);
      }
      
      button:active::before {
        transform: translate3d(0, 0, -1em);
        box-shadow: 0 0 0 2px #EDE9E6;
      
      }

      p{
          padding: 1rem;
          background-color: $light-background;
          border-radius: 5px;
          color: white;
      }
}

@media (max-width: 828px){

    .form{
        max-width: 300px;
        align-items: center;
        padding: 0rem;

        input , 
        textarea{
           max-width: 300px;
           min-width: 300px;
        }

    }
    
    
}