.header {
  padding: 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 1.3rem;
}

.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
  text-decoration: underline #f46740;
}

.button-menu {
  position: fixed;
  top: 2rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  outline:none;
  z-index: 5;
  visibility: hidden;

  div {
    width: 1.5rem;
    height: 0.2rem;
    background: black;
    border-radius: 5px;
    transform-origin: 1px;
    position: relative;
  }
}
.personal-logo {
  min-width:100px;
}
.logo {
  margin: 0;
  padding: 0;
  max-width: 80px;
}

@media (max-width: 1024px) {
    
  .header {
    padding: 0rem 0 5rem;
    min-width: auto;
    
  }

   .button-menu {
       visibility: visible;
   }
  .nav-list {
      visibility: hidden;
  }

  
}

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}