.welcome-container > * {
    flex-grow: 1;
  }
.welcome-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-homepage{
  max-width: 400px;
}
.description{
    max-width: 500px;
}
.description h1{
    white-space: nowrap;
   overflow: hidden;
}
.name-font {
    font-size:5rem;

}

.description h1:nth-child(1) {
    width: 7.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .description h1:nth-child(2) {
    width: 11.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  @keyframes type {
    0% {
      width: 0;
    }
    
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }

    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      border: none;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

@media (min-width: 1281px) {
    .description{
        max-width: 600px;
    }
    .name-font {
        font-size:6.5rem;
    }
    .image-homepage{
        max-width: 450px;
      }
    
  }