.welcome-container > * {
    flex-grow: 1;
  }
.welcome-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-homepage{
  max-width: 400px;
}
.description{
    max-width: 500px;
}
.name-font {
    font-size:5rem;
}

@media (min-width: 1281px) {
    .description{
        max-width: 600px;
    }
    .name-font {
        font-size:6.5rem;
    }
    .image-homepage{
        max-width: 450px;
      }
    
  }