.container {
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1rem 4rem
    
}

.content {
    flex-grow: 1;
}



@media (max-width: 1024px) {
    .container {
        margin: 1rem 2rem 1rem 2rem;
    }

  }
  
  @media (min-width: 320px) and (max-width: 480px) {
  
    
    
  }