
    .skill-header {
        display: flex;
        align-items: center;
        img{
            width: 50px;
        }
    }
.skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li{
        display: flex;
        font-size: 1.2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style: none;    
        padding: 0 1rem;
    }
    img {
        max-width: 40px;
    }
    
}
